body {font-family: Microsoft Yahei}
div#head {height: 70px; width: 100%; background: #0077c9}
div#head table{height: 100%; float:right}
div#head div{height: 100%; color: #eeeeee; float:left; padding-left:5%}
div#head table td {padding: 10px;text-align: center; vertical-align: middle; color:white}
div#left {height: 1024px; width: 15%; float: left; background: #368bde}
div#content {height: 1024px; width: 85%; float: right;}
#menu {margin:0 auto; text-align: center; }

.button div{background: #2e76bd;
            color:#c4ceda;
            border-radius:3px;
            margin:10px;
            padding:10px 15px}

li a {
    color: green;
}

.even {
    background: #e6e5e5;
}

.projects {
    padding-left: 1%;
}

table#projects .buttom{
    margin: auto;
    width: 60px;
    border:1px solid #c7c7c7;
    border-radius: 3px;
    color: white;
}

table#projects {
    margin: auto;
    width:98%;
}

table#projects th td {
    border: 1px ;
}

table#projects th {
    padding: 3px;
    background: #dad8d8;
}
table#projects td {
    padding: 3px;
    text-align: center;
    color:#000000;
}