{% extends "base.html" %}

{% load static %}
{% block statics %}
<style type="text/css">
    #info {
        margin-left: 10px;
    }
    #info span{
        margin-left: 10px;
    }
    #datasource {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-word;
    }
    #case td{
        max-width: 100%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}

{% block content %}
<h3>用例详情</h3>

{% if datasource %}
<div id="info">
    <span><b>Datasource No: {{datasource.no}}</b></span>
    <span><b>Datasource Name: {{datasource.name}}</b></span>
</div>
<button class="btn1" id="back" style="float:right;">
    {% if project_id %}
    <a href=" {% url 'datasource:search_result' project_id 1 %}">返回</a>
    {% else %}
    <button><a href="{% url 'datasource:datasource'%}">返回</a></button>
    {% endif %}
</button>
{% endif %}
{% if message %}<div>{{message}}</div>{% endif %}
{% if excel %}
<div style="width: 100%;">
<table id="datasource">
    <tbody>
    {% for row in excel %}
        {% if forloop.counter|divisibleby:"2" %}
            <tr class="even">
            {% else %}
            <tr>
            {% endif %}
            {% for col in row %}
                <td>{{col}}</td>
            {% endfor %}
            </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% else %}
<div style="margin-left:50%;">No datasource file imported!</div>
{% endif %}
{% endblock %}