<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style type="text/css">
        body {font-family: Microsoft Yahei; color: #eeeeee}
        #login {background: #0077c9;
                height: 220px; width:300px; margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;}
        h1, p, form{text-align: center;}
        div {margin:0 auto; border-radius: 5px}
        table {margin:0 auto; text-align: center;}
        #btn {background: #3b91cc; color: #ffffff; height: 25px;width: 76%;}
    </style>
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function(){
        $("#btn").click(function(){
          $("#login_form").submit();
        });
        $("#btn").mouseover(function(){
            $("#btn").css("background", "#60a8da");
        });
        $("#btn").mouseout(function(){
            $("#btn").css("background", "#3b91cc");
        });
    });
    </script>
</head>
<body>
    <div id="login">
        <h1>Welcome</h1>

        <form id="login_form"  action="{% url 'login:login' %}" method="post">
            {% csrf_token %}
            <div>
                <table>
                    <tr>{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif%}</tr>
                    <tr>
                        <td>用户名: </td>
                        <td><input type="text" name="uname"></td>
                    </tr>
                    <tr>
                        <td>密 码:</td>
                        <td><input type="password" name="upassword"></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" name="next"  value="{{next}}">
                            <!--div style="background: #3b91cc; color: #ffffff;" onclick="submit();">登录</div-->
                        </td>
                        <!--<td><input type="submit" value="登录"></td>-->
                    </tr>
                </table>
            </div>
            <div id="btn">登录</div>
        </form>
    </div>
</body>
</html>