body {font-family: Microsoft Yahei}
div#head {height: 60px; width: 100%; background: #0077c9}
div#head table{height: 100%; float:right}
div#head div{height: 100%; color: #eeeeee; float:left; padding-left:35px}
table td {padding: 10px;text-align: center; vertical-align: middle; color:white}
div#left {height: 1024px; width: 15%; float: left; background: #368bde}
div#content {height: 1024px; width: 85%; float: right;}
#menu {margin:0 auto; text-align: center; }
.buttom div{background: #2e76bd;
            color:#c4ceda;
            border-radius:3px;
            margin:10px;
            padding:10px 15px}
li a {
    color: green;
}