{% extends "base.html" %}

{% load static %}
{% block statics %}
<style type="text/css">
    div.search{
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
    }
    tr.search td {
        padding: 3px;
    }
    .pagination {
        padding-right: 2%;
        float: right;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $("#do_search").click(function(){
                $("#search_form").submit();
            });
        $("#message").slideUp(3000);

        $("#go").click(function(){
            var pg = $("#pg").val();
            var go = './' + pg
            window.location.assign(go)
        });
    });
    function to(url){
        window.location.assign(url)
    }
</script>
{% endblock %}

{% block content %}
{% if message %}<div id="message"><p style="padding-left: 50%;"><strong>{{ message }}</strong></p></div>{% endif%}
<div class="search">
    <form id="search_form" action="{% url 'testcase:search' %}" method="post">
        {% csrf_token %}
        <!--input name="project" type="text" placeholder="项目名称"-->
        <!--改用select-->
        <div>
            <table style="width: 100%;">
                <tbody>
                    <tr class="search">
                        <td >
                            <select id="project_list" name="project" style="height: 30px; width: 90%;">
                                {% if project_list %}
                                    {% for project in project_list %}
                                    {% if selected_id %}
                                        {% if  project.id|stringformat:"s" == selected_id|stringformat:"s" %}
                                            <option value="{{project.id}}" selected="selected">{{project.project}}</option>
                                        {% else %}
                                            <option value="{{project.id}}">{{project.project}}</option>
                                        {% endif %}
                                    {% else %}
                                        <option value="{{project.id}}">{{project.project}}</option>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td><button id="do_search"  class="btn1">查询</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>
</div>
<div class="case_list">
    <h3 class="projects" style="display: inline-block">用 例 列 表</h3>
    <div class="btn1" id="new_case" style="position: relative; left:88%; margin: 10px">
        <button onclick="to('{% url 'testcase:new' %}')">新增用例</button>
    </div>
        <table id="list">
            <thead>
                <tr>
                    <th>用例编号</th>
                    <th>用例名称</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
            </thead>
    {% if case_list %}
            <tbody>
                {% for case in case_list %}
                    {% if forloop.counter|divisibleby:"2" %}
                    <tr class="even">
                    {% else %}
                    <tr>
                    {% endif %}
                    <td>{{case.no}}</td>
                    <td>{{case.case}}</td>
                    <td>{{case.charge}}</td>
                    <td>
                        <button onclick="to('{% url 'testcase:detail' case.project_id case.id %}')">查看</button>
                        <button onclick="to('{% url 'testcase:modify' case.id %}')">修改</button>
                        <button onclick="to('{% url 'testcase:delete' case.id %}')">删除</button>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="pagination">
        {% if case_list.has_previous %}
            <button class="page_btn" onclick="to('./{{case_list.previous_page_number}}')">上一页</button>
        {% endif %}
        <span class="current">Page {{case_list.number}} of {{case_list.paginator.num_pages}}</span>
        {% if case_list.has_next %}
            <button class="page_btn" onclick="to('./{{case_list.next_page_number}}')">下一页</button>
        {% endif %}
        <input id="pg" type="text" style="width: 1.5em;">
        <button id="go">GO</button>
    </div>
    {% endif %}
</div>

{% endblock %}