{% extends "base.html" %}

<!--{% block left %}-->
<!--<div id="menu">-->
    <!--<div class="buttom">-->
        <!--{% for m in menu %}-->
        <!--<div><a href="">{{m.menu_text}}</a></div>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->
<!--{% endblock %}-->
{% load static %}
{% block statics %}
<style type="text/css">
    .pagination {
        padding-right: 2%;
        float: right;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
    $("#go").click(function(){
            var pg = $("#pg").val();
            var go = './' + pg;
            window.location.assign(go);
        });
    });
</script>
{% endblock %}

{% block content %}
    <div>
        {% if message %}<p>{{message}}</p>{% endif %}
        <h3>项 目 列 表</h3>
{% if project_list %}
    <table id="list">
        <thead>
            <tr>
                <th>项目名称</th>
                <th>状态</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
                {% if forloop.counter|divisibleby:"2" %}
                    <tr class="even">
                {% else %}
                    <tr>
                {% endif %}
                        <td>{{project.project}}</td>
                        <td>{{project.status}}</td>
                        <td>{{project.charge}}</td>
                        <td>
                            <div class="button"><a href="{% url 'projects:modify' project.id %}">修改</a></div>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if project_list.has_previous %}
            <button class="page_btn"><a href="./{{project_list.previous_page_number}}">上一页</a></button>
        {% endif %}
        <span class="current">Page {{project_list.number}} of {{project_list.paginator.num_pages}}</span>
        {% if project_list.has_next %}
            <button class="page_btn"><a href="./{{project_list.next_page_number}}">下一页</a></button>
        {% endif %}
        <input id="pg" type="text" style="width: 1.5em;">
        <button id="go">GO</button>
    </div>
{% else %}
    <p>No Project available</p>
{% endif %}
    </div>
{% endblock %}

