<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Web Demo</title>
    {% comment "加载静态文件" %}
    {% endcomment %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <style type="text/css">
    </style>
</head>
<body>
<div id="head">
    <table>
        <tr>
            <td><a href="{% url 'polls:index' %}">首页</a></td>
            <td><a href="{% url 'polls:logout' %}">注销</a></td>
            <td>{{user.username}}</td>
        </tr>

    </table>
</div>
<div id="left">
    {% block left %}{% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>